<div class="card page-wrap">
  <div class="card-header d-flex p-2">
    <div class="card-title col-11">Test Title</div>
    <div class="card-actions col-1 row justify-content-end">
      <button
        style="min-width: 50px"
        class="btn-primary btn"
        mat-icon-button
        [matMenuTriggerFor]="menu"
      >
        ...
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>arrow_upward</mat-icon>
          <span>Bring To Front</span>
        </button>
        <button mat-menu-item>
          <mat-icon>arrow_downward</mat-icon>
          <span>Send To Back</span>
        </button>
      </mat-menu>
    </div>
  </div>
  <div class="card-body"></div>
</div>
